<!doctype html>
<html ng-app="application">
<head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/bundle/bundle.css">
</head>

<body>
    <%- body %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script type="text/javascript" src="/bundle/bundle.js"></script>
</body>
</html>